/* Обнуление */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    font-size: 16px;
    line-height: calc(26.25 / 16 * 100%);
    color: #727272;
    font-family: Roboto;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* -------------------- Верстка -------------------- */
._container {
    max-width: 1150px;
    margin: 0px auto;
}
._title {
    font-size: 32px;
    font-weight: 500;
    line-height: calc(37.5 / 32 * 100%);
    color: #000;
    margin-bottom: 50px;
}
._body {
    padding: 100px 0px;
}
/* -------------------- Header -------------------- */
.header__body {
    display: flex;
    min-height: 160px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}
.header__link {
    font-family: Revalia;
    font-size: 48px;
    color: #34547A;
    line-height: calc(59.52 / 48 * 100%);
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 30px;
}
.menu__item:not(:last-child) {
    margin-right: 42px;
}
.menu__link {
    color: #000;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.menu__link:hover {
    color: #34547A;
    font-weight: 500;
}
/* -------------------- Page -------------------- */
.header {
    background: #EEEFF1;
}
.page {
    flex: 1 1 auto;
}
.page__main-block {
    background: #EEEFF1;
}
.page__about-block {
    background: #F9F9F9;
}
.page__count-block {
    background: #34547A;
}
.page__skills-block {
    background: #F9F9F9;
}
.page__video-block {
    background: #EEEFF1;
}
.page__projects-block {
    width: 100%;
}
.page__clients-block {
    background: #F9F9F9;
}
.page__form {
    background: #EEEFF1;
}
/* -------------------- Main -------------------- */
.main-block__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-block__image-holder {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-block__image {
    width: 100%;
    max-width: 357px;
}
.main-block__content {
    flex: 1 1 50%;
}
.main-block__content > *:not(:last-child) {
    margin-bottom: 60px;
}
.main-block__title {
    font-weight: 500;
    font-size: 48px;
    color: #000;
    line-height: calc(78.75 / 48 * 100%);
}
.main-block__button {
    width: 225px;
    min-height: 65px;
    background: #34547A;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 40px;
}
/* -------------------- About -------------------- */
.block-about__container {
    max-width: 540px;
}
.block-about__body {
    text-align: center;
}
/* -------------------- Count -------------------- */
.count-block__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.count-block__holder {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
}
.count-block__image-holder {
    margin-right: 20px;
}
.count-block__content-holder {
    color: #fff;
}
.count-block__title {
    font-size: 21px;
    font-weight: 500;
}
/* -------------------- Skills -------------------- */
.skills-block__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills-block__content-holder {
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}
.skills-block__content-list > *:not(:last-child) {
    margin-bottom: 30px;
}
.skills-block__progress-bar {
    display: inline-block;
    width: 100%;
    max-width: 445px;
    height: 4px;
}
.skills-block__progress-bar::-webkit-progress-value {
    background: #34547A;
}
.skills-block__progress-bar::-webkit-progress-bar {
    background: #C4C4C4;
}
.skills-block__image-holder {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.skills-block__image {
    width: 100%;
    max-width: 555px;
}
/* -------------------- Video -------------------- */
.video-block__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-block__text {
    max-width: 540px;
    text-align: center;
    margin-bottom: 60px;
}
.video-block__image-holder {
    position: relative;
}
.video-block__image {
    display: block;
    width: 100%;
    max-width: 1110px;
}
.video-block__link-image {
    position: absolute;
    top: calc(100% / 2 - 50px);
    left: calc(100% / 2 - 50px);
    width: 100px;
    border-radius: 50%;
}
/* -------------------- Projects -------------------- */
.projects-block__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projects-block__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.projects-block__item {
    position: relative;
}
.projects-block__item:hover .projects-block__view {
    opacity: 0.8;
}
.projects-block__image {
    width: 100%;
}
.projects-block__view {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #34547A;
}
.projects-block__view-image {
    width: 100%;
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
/* -------------------- Clients -------------------- */
.clients-block__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.clients-block__item {
    text-align: center;
}
.clients-block__image {
    width: 100%;
    cursor: pointer;
}
/* -------------------- Form -------------------- */
.form__container {
    max-width: 540px;
}
.form__body {
    text-align: center;
}
.form__text {
    margin-bottom: 65px;
}
.form__input-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form__input-name,
.form__input-e-mail {
    width: 255px;
    height: 50px;
    padding-left: 20px;
    font-size: 14px;
    font-family: Roboto;
}
.form__input-message {
    width: 100%;
    max-width: 540px;
    min-height: 175px;
    padding: 20px;
    margin: 20px 0px 50px 0px;
    font-size: 14px;
    font-family: Roboto;
    resize: none;
}
.form__button-holder {
    display: flex;
    justify-content: center;
}
.form__button {
    min-width: 190px;
    min-height: 55px;
    padding: 20px;
    background: #34547A;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
/* -------------------- Footer -------------------- */
.footer {
    background: #34547A;
}
.footer__body {
    padding: 50px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.footer__title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer__text {
    min-width: 200px;
    font-size: 13px;
}
.footer__link-holder >*:not(:last-child) {
    margin-right: 22px;
}
/* --------------------  -------------------- */
/* -------------------- Медиа запросы -------------------- */
/* @media (max-width: 991px) {

} */
@media (max-width: 767px) {
    .header__body {
        min-height: 100px;
    }
    ._body,
    .main-block__body {
        padding: 25px 5px;
    }
    ._title {
        font-size: 28px;
        margin-bottom: 25px;
    }
    ._text {
        font-size: 22px;
    }
    .menu__link {
        font-size: 22px;
        font-weight: 500;
    }
    .main-block__title {
        font-size: 32px;
    }
    .main-block__content > *:not(:last-child) {
        margin-bottom: 30px;
    }
    .count-block__holder {
        padding: 4px 8px;
    }
    .count-block__image-holder {
        margin-right: 10px;
    }
    .count-block__body {
        justify-content: space-evenly;
    }
    .skills-block__content-list > *:not(:last-child) {
        margin-bottom: 15px;
    }
    .video-block__text {
        margin-bottom: 30px;
    }
    .form__text {
        margin-bottom: 25px;
    }
    .form__input-message {
        margin-bottom: 15px;
    }
}
@media (max-width: 575px) {
    .main-block__body,
    .main-block__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .clients-block__image {
        width: 70%;
    }
    .form__input-holder {
        flex-direction: column;
        align-items: center;
    }
    .form__input-holder >*:not(:last-child) {
        margin-bottom: 10px;
    }
}
